<div class="row">
	<main class="col-md-12">
		<!-- Start your code here -->
			<h1>Welcome to the About Page</h1>
            <p>Thank you for visiting the About Page of my website.</p>
            <h2>About Me</h2>
            <p>My name is Sampavi Shanthakumar, and I am a Business Information Technology program student, currently studying WEB700. My student ID is 147633234.</p>
		<!-- End your code here  -->
	</main>
</div>
		