<div class="row">
	<main class="col-md-12">


		<!-- Start your code here -->
			<h1>Welcome to My Website</h1>
            <p>I will be demonstrating HTML5 principles and techniques, Routing in Express.</p>
            <h2>Introduction to My Website</h2>
            <p>This site consists of 3 static views(<a href="/">Home</a>, <a href="/about">About</a>, and <a href="/htmlDemo">HTML Demo</a>) as well as 5 routes that supply data, including: <a href="/students">All Students</a>, <a href="/students?course=3">Students by Course</a>, <a href="/student/2">A Single Student By Student Number</a>, <a href="/tas">All Managers</a>, and <a href="/courses">All Courses</a>.</p>

            <h2>Introduction to HTML 5</h2>
            <P>This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web.</P>   					
		<!-- End your code here  -->



	</main>
</div>


		