<div class="row">
	<main class="col-md-12">
					<!-- Start your code here -->
                    <h3>Tables Section</h3>
					    <table border="1" class="table">
                            <caption style="text-align: center;">Table 1: Products</caption>
                            <thead>
                                <tr>
                                    <th colspan="2">Product</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="2">Fruits</td>
                                    <td>Apple</td>
                                    <td>10</td>
                                    <td>$2.00</td>
                                </tr>
                                <tr>
                                    <td>Mango</td>
                                    <td>5</td>
                                    <td>$3.00</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Vegetables</td>
                                    <td>Carrot</td>
                                    <td>8</td>
                                    <td>$1.50</td>
                                </tr>
                                <tr>
                                    <td>Tomato</td>
                                    <td>6</td>
                                    <td>$2.00</td>
                                </tr>
                                <tr>
                                    <td colspan="3" align="right">Total Price:</td>
                                    <td>$50.00</td>
                                </tr>
                            </tbody>
                        </table>
					    <table border="1" class="table">
                            <caption style="text-align: center;">Table 2: Books</caption>
                            <thead>
                                <tr>
                                    <th colspan="2">Book Name</th>
                                    <th>Author</th>
                                    <th>Count</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="3">Fantasy</td>
                                    <td>The Hobbit</td>
                                    <td>J.R.R. Tolkien</td>
                                    <td>15</td>
                                </tr>
                                <tr>
                                    <td>Harry Potter and the Sorcerer's Stone</td>
                                    <td>J.K. Rowling</td>
                                    <td>12</td>
                                </tr>
                                <tr>
                                    <td>The Name of the Wind</td>
                                    <td>Patrick Rothfuss</td>
                                    <td>8</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Science Fiction</td>
                                    <td>Dune</td>
                                    <td>Frank Herbert</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td>Ender's Game</td>
                                    <td>Orson Scott Card</td>
                                    <td>6</td>
                                </tr>
                                <tr>
                                    <td colspan="3" align="right">Total Count:</td>
                                    <td>51</td>
                                </tr>
                            </tbody>
                        </table>
                    <p>This table section showcases two HTML tables: one listing various products and their details, and another displaying books with their authors and quantities. This section illustrates how HTML tables can effectively present information in a structured and visually appealing format.</p>
					
                    <h3>Lists Section</h3>

                        <ul>
                            <li>Favorite Websites
                                <ul>
                                    <li><a href="https://www.google.com">Google</a></li>
                                    <li><a href="https://www.youtube.com">YouTube</a></li>
                                    <li><a href="https://www.wikipedia.org">Wikipedia</a></li>
                                </ul>
                            </li>
                            <li>Useful Tools
                                <ol>
                                    <li><a href="https://www.github.com">GitHub</a></li>
                                    <li><a href="https://code.visualstudio.com/">VS Code</a></li>
                                    <li><a href="https://www.stackoverflow.com">Stack Overflow</a></li>
                                </ol>
                            </li>
                            <li>Social Media
                                <ul>
                                    <li><a href="https://www.facebook.com">Facebook</a></li>
                                    <li><a href="https://www.twitter.com">Twitter</a></li>
                                    <li><a href="https://www.instagram.com">Instagram</a></li>
                                </ul>
                            </li>
                            <li>JavaScript Libraries
                                <ul>
                                    <li><a href="https://jquery.com/">jQuery</a></li>
                                    <li><a href="https://lodash.com/">Lodash</a></li>
                                    <li><a href="https://momentjs.com/">Moment.js</a></li>
                                </ul>
                            </li>
                            <li>Programming Languages
                                <ol>
                                    <li>JavaScript</li>
                                    <li>Python</li>
                                    <li>Java</li>
                                    <li>
                                        <ul>
                                            <li>TypeScript</li>
                                            <li>Ruby</li>
                                            <li>PHP</li>
                                        </ul>
                                    </li>
                                </ol>
                            </li>
                        </ul>

                        <p>This section contains lists of favorite websites, useful tools, social media platforms, JavaScript libraries, and programming languages. Each item includes a link or a text.</p>

                    <h3>Images Section</h3>

                    <img src="https://healthjade.com/wp-content/uploads/2017/10/apple-fruit.jpg" alt="Red Apple" width="250">
                    <img src="https://wallpapercave.com/wp/wp2293595.jpg" alt="Oranges" width="300">
                    <img src="https://dryfruitsmandy.com/wp-content/uploads/2021/04/mango-medium.jpg" alt="Mangos" width="300">

                    <p>This image section showcases three different images of my favourite fruits including apple, oranges and mangos with alt text.</p>

                    <h3>Audio Section</h3>

                    <audio controls>
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mpeg">
                    </audio>
                    <p>This audio section features an HTML5 audio player that allows users to listen to an audio file.</p>

                    <h3>Video Section</h3>
                    <video controls width="600">
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
                    </video>
                    <p>This video section includes an HTML5 video player that allows users to watch a video directly on the web page.</p>
					<!-- End your code here  -->
	</main>
</div>
		